@use '../abstract/' as *;
@use '../base/' as *;

.main-header {
    min-height: crem(852px);
    padding-bottom: crem(20px);
    background-image: url('../../images/header.jpg');
    background-size: cover;
    @include color(background-color, text-color);
    @include color(color, bg);

    &__container {
        @include flex($jc: space-between, $ai: center);
        margin: 0 auto;
        padding-top: crem(40px);
        max-width: 1170px;
        margin-bottom: crem(105px);
    }


    &__img {
        width: crem(190px);
        height: crem(31px);
    }

    &__list {
        @include flex;
    }

    &__item {
        @extend %text-sm;
        padding: crem(18px) crem(26px);
    }

    &__btn {
        line-height: 1.1875;
    }

    &__main {
        text-align: center;
    }

    &__title {
        margin-bottom: crem(30px);
    }

    &__1st-line {
        @extend %h3;
        display: block;
        opacity: 0.8
    }

    &__2nd-line {
        @extend %h1;
    }

    &__text {
        @extend %h4;
        margin: 0 auto;
        width: crem(686px);
        margin-bottom: crem(70px);
        opacity: 0.6;
    }

    &__btn-main {
        margin: 0 auto;
    }
}